/*basic CSS reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: var(--cream);
}

.product-card {
  height: 640px;
  width: 343px;
  margin: 28px 16px;
  background: var(--white);
  border-radius: 10px;
}

.product-img {
  width: 343px;
  height: 240px;
  margin-bottom: 24px;
}

.product-content-container {
  margin-left: 24px;
}

.perfume-tagline {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 5px;
}

.perfume-title,
.sales-price {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.perfume-title {
  margin-top: 12px;
  margin-bottom: 16px;
}

.perfume-description {
  margin-bottom: 24px;
  color: var(--dark-grayish-blue);
  line-height: 23px;
  font-size: 0.875rem;
  width: 295px;
}

.price-container {
  position: relative;
}

.sales-price {
  color: var(--dark-cyan);
  font-size: 2rem;
  margin-right: 19px;
}

.retail-price {
  color: var(--dark-grayish-blue);
  font-size: 0.813rem;
  text-decoration: line-through;
  position: absolute;
  top: 10px;
}

.cart-btn {
  background: var(--dark-cyan);
  border: none;
  border-radius: 8px;
  width: 295px;
  height: 48px;
  margin-top: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  margin-right: 12px;
}

footer {
  text-align: center;
}
